* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.navbar {
	display: flex;
	align-items: center;
	padding: 20px;
}

nav {
	flex: 1;
	text-align: right;
}

nav ul {
	display: inline-block;
	list-style: none;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

a {
	text-decoration: none;
	color: #555;
	font-weight: 700;
}
a:hover{
	color: #2196f3;
}

p {
	color: #555;
}

.container {
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col-2 {
	flex-basis: 50%;
	min-width: 300px;
	padding-left: 30px;
	margin-top: 130px;
	margin-bottom: 130px;
	text-align: center;
}

.col-2 img {
	max-width: 100%;
	padding: 50px 0;
}

.col-2 h1 {
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}

.btn {
	display: inline-block;
	background: #2196f3;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 8px;
	transition: background 0.5s;
}

.btn:hover {
	background: #073050;
}

.header {
	background: #fff;
}

.header .row {
	margin-top: 70px;
}

.categories {
	margin: 70px 0;
}

.col-3 {
	flex: 30%;
	min-width: 250px;
	margin-bottom: 30px;
	padding: 10px;
}

.col-3 img {
	width: 100%;
}

.small-container {
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.col-4 {
	flex-basis: 25%;
	padding: 0px;
	min-width: 190px;
	max-width: 230px;
	margin-bottom: 50px;
	transition: transform 0.5s;
	box-shadow: 0 0 20px 0px rgb(0 0 0 / 10%);
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}

.col-4 img {
	width: 100%;
}

.title {
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
}

/* .title::after {
	content: '';
	background: #ff523b;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
} */

h4 {
	color: #555;
	font-weight: normal;
}

.col-4 p {
	font-size: 14px;
}

.rating .fa {
	color: #ff523b;
}

.col-4:hover {
	transform: translateY(-5px);
}

.offer {
	background: radial-gradient(#fff, #ffd6d6);
	margin-top: 80px;
	padding: 30px 0;
}

.col-2 .offer-img {
	padding: 50px;
}

small {
	color: #555;
}
/* -----footer------ */
.footer {
	background: #2f303a;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}
.footer .f{
	float:left;
}
.footer p {
	color: #8a8a8a;
}

.footer h3 {
	color: #fff;
	margin-bottom: 20px;
}

.footer-col-3{
	min-width: 250px;
	/* margin-bottom: 20px;
	margin-top: 30px; */
	text-align: left;
	padding:60px;
}


ul {
	list-style-type: none;
}

.footer hr {
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}


.menu-icon {
	width: 28px;
	margin-left: 20px;
	display: none;
}

/* -------- media query for menu------- */

@media only screen and (max-width: 800px) {
	nav ul {
		position: absolute;
		top: 70px;
		left: 0;
		background: #333;
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}

	nav ul li {
		display: block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	nav ul li a {
		color: #fff;
	}

	.menu-icon {
		display: block;
		cursor: pointer;
	}
	.col-2 h1 {
		font-size: 31px;
	}
}

@media only screen and (max-width: 600px) {
	.row {
		text-align: center;
	}

	.col-2,
	.col-3,
	.col-4 {
		flex-basis: 100%;
	}
}

/*  */
.marlef {
	margin-left: 401px;
}
@media only screen and (max-width: 1300px){
	.marlef {
		margin-left: 301px;
	}
}
@media only screen and (max-width: 1200px){
	.marlef {
		margin-left: 201px;
	}
}
@media only screen and (max-width: 1200px){
	.marlef {
		margin-left: 201px;
	}
}
@media only screen and (max-width: 900px){
	.marlef {
		margin-left: 151px;
	}
}
/*  */